/*here is the main tag css, keeping them here, so theming will be easier */

v-grid {
  display: block;
  position: relative;
}

avg-top-panel {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
}

avg-footer {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
}

avg-header {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

avg-content {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

avg-header-left {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}

avg-header-main {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

avg-header-main-scroll {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}

avg-header-right {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}

avg-content-left {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

avg-content-left-scroll {
  position: absolute;
  box-sizing: border-box;
}

avg-content-main {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
}

avg-content-main-scroll {
  position: absolute;
  box-sizing: border-box;
}

avg-content-right {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

avg-content-right-scroll {
  position: absolute;
  box-sizing: border-box;
}

avg-content-group {
  position: absolute;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

avg-content-group-scroll {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
}

avg-content-vhandle {
  position: absolute;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

avg-content-vhandle-scroll {
  position: absolute;
  box-sizing: border-box;
}

avg-content-hhandle {
  position: absolute;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
}

avg-content-hhandle-scroll {
  position: absolute;
  box-sizing: border-box;
}

avg-row {
  width: 100%;
  display: block;
  position: absolute;
}

avg-col {
  position: absolute;
  height: 100%;
}
