body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }

nav ul li a.active {
  background-color: rgba(0, 0, 0, .1);
}  


section {
  margin:10px;
}