@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular-fromBootstrap.woff2");
}

.vGrid-glyphicon {
  position: absolute;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  width: 15px;
  right: 7px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vGrid-glyphicon[data-vgridsort] {
  right: -2px;
}

.vGrid-glyphicon[data-vgridsort]:after {
  content: attr(data-vgridsort);
}

.vGrid-glyphicon-sort:after {
  content: "\e150";
}

.vGrid-glyphicon-sort-asc:after {
  content: "\e155";
}

.vGrid-glyphicon-sort-desc {
  transform: rotateX(180deg);
}

.vGrid-glyphicon-sort-desc:after {
  content: "\e155";
}
