/*nav-bar {
  background-color: #eee;
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

nav-bar a {
  display: inline-block;
}

nav-bar a.active {
  background-color: #ccc;
}*/
