.avg-default .avg-grouping {
  background-color: rgb(240, 240, 240);
  position: relative;
  margin: 3px;
  height: 80%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  float: left;
  border: 1px solid rgb(230, 230, 230);
}

.avg-default .avg-colunHelper {
  top: 0;
  width: 2px;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
}

.avg-default .avg-group-full {
  border: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  box-shadow: initial;
  line-height: 50%;
  background-color: rgb(240, 240, 240);
  margin: 3px;
  height: 80%;
  position: relative;
  float: left;
  padding-top: 5px;
}

.avg-default .avg-grouping-element {
  box-sizing: border-box;
  border: 0;
  border-radius: initial;
  box-shadow: initial;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 !important;
  display: flex;
  text-align: center;
}
